# Java/Maven
backend/target/
*.log
*.class
*.jar
*.war
*.iml

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iws
*.ipr
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node.js
frontend/node_modules/
frontend/build/

# Logs
logs/
*.log

# Environment files
.env
backend/.env
frontend/.env

database/*.log 